<body style = "margin:0px">
<header style ="background-color:teal;height:80px; color:lightsteelblue;top:0px;left:0px; margin-top:-40px;padding-top:20px">
<p style= "font-size:30px">RITTER</p>
</header>
<div style= "height:400px; padding:20px">

<%= render 'confirm', blog: @blog %>

</div>
<footer style= "background-color:skyblue; height:30px; font-size:24px; width:100%">
<p style = "text-align:right">designed by Yasutaka Ikeda</p>
</footer>
</body>